/* 
    CORES DO SITE
    - #685155 (MARROM ESCURO)
    - #5c3a37ff (MARROM CLARO)
    - #FF7F11 (LARANJA)
    - #ECE2D0 (BRANCO AMARELADO)
*/

* {
    margin: 0;
    padding: 0;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #ECE2D0;
}

.img-cidades {
    width: 600px;
    height: auto;
    border: 3px solid #ECE2D0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #685155;
    color: #ECE2D0;
    padding: 3px 0 3px 0;
    font-size: 22px;
}

.titulo-header {
    display: flex;
    align-items: center;
}

.titulo-header span {
    margin-left: 5px;
}

.titulo-header img {
    width: 80px;
    padding: 0;
    margin: 0 0 0 3px;
    
    border: 3px solid #ECE2D0;
    border-radius: 50%;
}

.titulo-header span {
    font-size: 35px;

    font-family: 'Times New Roman', Times, serif;
}

.navegacao {
    margin-left: 100px;
    width: 100px;
    display: flex;
    list-style-type: none;
}

.navegacao > li {
    margin: 0 10px 0 10px;
    text-decoration: none;
}

.navegacao > li > a {
    text-decoration: none;
    padding: 0;
    color: #ECE2D0;
}

.cadastro {
    border-radius: 25px;
    border: 2px solid #FF7F11;
    background-color: #ECE2D0;
    padding: 12px;
    font-size: 20px;
    margin-right: 10px;
}

.cadastro a {
    text-decoration: none;
    color: #777777;
}

.cidades {
    margin: 10px 0 10px 5px;
    background-color: #815E5B;
    padding: 5px;
    color: #ECE2D0;

    border-radius: 10px;
    border: 3px solid #685155;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.cidades h1 {
    color: #FF7F11;
    font-size: 25px;
    margin-bottom: 5px;
    padding: 5px;

    background-color: #ECE2D0;
    border-radius: 15px;
}

.cidades > p {
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 600px;
}

main {
    margin: 10px 0 10px 0;
    border-radius: 5px;
    width: 70%;
}

.conteudo {
    display: flex;
    width: 100%;
}

.conteudo nav {
    border: 3px solid #FF7F11;
    border-radius: 5px;
    padding: 20px;

    margin: 10px 0 10px auto;
    display: flex;
    flex-direction: column;

    background-color: #685155;
    color: #ECE2D0;
}

.conteudo > nav > span {
    text-align: center;
    font-size: 18px;
    color: #FF7F11;
}

.conteudo nav > ul > li {
    margin: 10px 0 0px 0;
    font-size: 14px;
}

.conteudo nav > ul > li > a {
    text-decoration: none;
    color: #ECE2D0;
}

footer {
    display: flex;
    justify-content: center;
    font-size: 20px;

    background-color: #685155;
    color: #ECE2D0;
    padding: 20px 0 20px 0;
}

/* PÃGINA DE CADASTRO */

.container {
    width: 70%;
    position: relative;
    left: 40%;
    background-color: #815E5B;
    padding: 10px;
    border-radius: 10px;
    color: #ECE2D0;

    text-align: center;
}

.container > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container > form > input {
    margin: 2px 0 2px 0;
    border: 2px solid #FF7F11;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
    background-color: #ECE2D0;
    width: 180px;
}

.container > form > button {
    padding: 10px;
    margin: 3px 0 3px 0;
    background-color: #ECE2D0;
    font-size: 12px;
    width: 180px;
}

.container > form a {
    text-decoration: none;
    color: #FF7F11;
}